* {
    box-sizing: border-box;
}

:root {
    --main-text-color: #66FCF1;
}

body {
    background-color: #0b0c10;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
}

.logo-picture {
    max-height: 300px;
    margin: 0 auto;
    /* poor attempt at centering */
    height: auto !important;
    /* overrides inline */
    width: auto !important;
    /* overrides inline */
    display: block;
    max-width: 50%;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 0;
}

.header-links a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.header-links a:hover {
    cursor: pointer;
    background-color: #1f2833;
    color: #c5c6c7;
}

a:active {
    background-color: black;
}

a:visited {
    background-color: #ccc;
}

.picture {
    width: auto;
    height: 10em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    flex: 0 1 50%;
}