* {
    box-sizing: border-box;
}

@font-face {
    font-family: Nanum_Gothic;
    src: url('assets/fonts/NanumGothic-Regular.ttf');
}

:root {
    --main-text-color: #66FCF1;
}

body {
    background: url('./assets/backgroundimg.jpg')no-repeat center center fixed;
    background-size: cover;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    font-family: Nanum_Gothic, sans-serif;
}

.logo-picture {
    max-height: 10em;
    margin: 0 auto;
    /* poor attempt at centering */
    height: auto !important;
    /* overrides inline */
    width: auto !important;
    /* overrides inline */
    display: block;
    max-width: 50%;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 0;
}

.header-links a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.header-links a:hover {
    cursor: pointer;
    background-color: #1f2833;
    color: #c5c6c7;
}

a:active {
    background-color: black;
}

a:visited {
    background-color: #ccc;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me h1 {
    font-size: 3em;
    font-weight: 900;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    flex: 0 1 50%;
}