html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.card {
    width: 30%;
    flex-wrap: wrap;
    border: 1px red solid;
}

.header {
    height: 30%;
    background: red;
    color: white;
    text-align: center;
}

.container {
    padding: 2px 16px;
}